{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Juan Augusto Paredes Salazar",
    "url": "https://juanaugustoparedessalazar.com/",
    "jobTitle": "Researcher in Aerospace Engineering and Robotics",
    "affiliation": {
      "@type": "Organization",
      "name": "University of Maryland Baltimore County"
    },
    "sameAs": [
      "https://www.linkedin.com/in/juanaparedes/",
      "https://scholar.google.com/citations?user=tkjTSmkAAAAJ",
      "https://github.com/JAParedes",
      "https://www.researchgate.net/profile/Juan-Augusto-Paredes-Salazar",
      "https://orcid.org/0000-0001-7486-1231",
      "https://www.youtube.com/@JuanAugustoParedesSalazar"
    ]
  }
  </script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">